.tbl {
    border: solid black 3px;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
}
.tbl caption{
    font-size:x-large;
}

.h3 {
    margin-left: 175px;
}

.myDIV {
    margin-top: 10px;
    
}

.calculate {
    margin-left:55%;
    margin-top:20px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: greenyellow;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
    .calculate:hover{
        background-color: #3e8e41;
    }


    .result{
        text-align:center;
        font-size:xx-large;
    }